@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<VV.Web.Core.Models.NancyDemoModel>
@{ 
     Layout = "bin/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
    <head>
       
    </head>
     <body>
          
     </body>
</html>