@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<VV.Web.Core.Models.ServicesDataModel>
          
                    
                         <!-- A row encapsualtes 12 columns -->
                         <div class="row">
                              <div class="col-md-6 col-lg-6 col-sm-6">
                                   <h1>Services</h1>
                              </div>
                         </div>
                         <hr>
                         <div class="row">
                              <div class="col-md-6">
                                   <!-- Button trigger modal -->
                                   <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
                                        Launch demo modal
                                   </button>
                                   <!-- Modal -->
                                   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                             <div class="modal-content">
                                                  <div class="modal-header">
                                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                       </button>
                                                       <h4 class="modal-title" id="myModalLabel">
                                                            Modal title
                                                       </h4>
                                                  </div>
                                                  <div class="modal-body">
                                                       Modal Body Text goes here. Bioconnect.
                                                  </div>
                                                  <div class="modal-footer">
                                                       <button type="button" class="btn btn-default" data-dismiss="modal">
                                                            Close
                                                       </button>
                                                       <button type="button" class="btn btn-primary">
                                                            Save changes
                                                       </button>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                                   <h4>This is the page where we will allow the end user to view the status of the BioConnect services, and also start/stop them.</h4>
                              </div>
                         </div>
                         <div class="row">
                              <div class="col-md-12 col-lg-12">
                                   <!-- Tab panes -->
                                   <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="tabOne">
                                             
                                             <table>
                                                  @foreach (var item in Model.Services)
                                                  {
                                                      <tr>
                                                           <td>Service:    </td>
                                                            <td>
                                                                 @item
                                                            </td>
                                                       </tr>
                                                  }
                                                  
                                                  @foreach (var item in Model.Statuses)
                                                  {
                                                  <tr>
                                                       <td>Statuse:</td>
                                                       <td>
                                                            @item
                                                       </td>
                                                  </tr>
                                                  }
                                             </table>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="tabTwo">
                                             Content for this tabTwo goes here
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="tabThree">
                                             Content for this tabThree goes here
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="tabFour">
                                             Content for this tabFour goes here
                                        </div>
                                   </div>
                              </div>
                         </div>
                    

