<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IBioConnectAPI">
                    <reliableSession enabled="true" />
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://ws-ppatel:8000/BioConnectAPI/service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBioConnectAPI"
                contract="BioConnectAPI.IBioConnectAPI" name="NetTcpBinding_IBioConnectAPI" />
        </client>
    </system.serviceModel>
</configuration>